{{#> blocks/common/base }}
  <div class="section-contributors">
    <ul class="contributor-list">
      {{#each cards.contributors}}
        <li class="contributor">
          <div class="contributor__image">
            {{> components/image img=(concat "contributors/" this.image) ext="jpg"}}
          </div>
          <div class="contributor__description">
            <span class="contributor__name">{{this.name}}</span>
            <p class="contributor__info">{{this.info}}</p>
            <ul class="contributor__socials">
              {{#each this.socials}}
                <li class="contributor__socials-item">
                  <a class="contributor__socials-link contributor__socials-link--{{this.social}}"
                     href="{{this.url}}" target="_blank">{{this.social}}</a>
                </li>
              {{/each}}
            </ul>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>

{{/blocks/common/base}}
