<section class="section{{#if reports}} section-reports{{else if related}} section-related{{else if
        single}} section-single{{else}} section-base{{/if}}{{#if section-mode}} {{section-mode}}{{/if}}">
  <div class="section__container container">
    {{#if title}}
      <header class="section__header">
        <span class="section__title section__title--preview">{{{title}}}</span>
      </header>
    {{else}}
    {{/if}}
    <div class="section__content">
      {{> @partial-block }}
    </div>
    {{#if title}}
      <footer class="section__footer">
        {{>ui/btn label="More" mix="btn-preview" href=href mix="section-preview__button"}}
      </footer>
    {{else}}
    {{/if}}
  </div>
</section>
