{{#each card}}
  <li class="card{{#if this.card-class}} {{this.card-class}}__item{{/if}}{{#if
          this.main}} card--main{{/if}}{{#if this.light}} card--light{{/if}}{{#if
          this.reports}} card--reports{{/if}}{{#if this.static}} card--static{{/if}}{{#if
          this.no-slider}}{{else}} swiper-slide{{/if}}">
    <article class="card__container">
      {{#if this.event }}
        <div class="card__event-text static">
          <p>
            {{{this.event.text}}}
          </p>
          <p>
            Learn more here - <a href="{{this.event.url}}">{{this.event.link}}</a>
          </p>
        </div>
      {{/if}}
      <div class="card__image {{#if video}}card__image--video{{/if}}">
        <a class="card__link card__image-link" href="{{this.url.article}}">
          {{> components/image img=(concat "cards/" this.image) ext="jpg"}}
          {{#if video}}
            <div class="card__video-btn">
              {{>ui/svg name="play"}}
            </div>
          {{/if}}
        </a>
      </div>
      <div class="card__info">
        {{#if this.category}}
          <p class="card__label">
            <a class="card__link card__label-link" href="{{this.url.category}}">{{this.category}}</a>
          </p>
        {{/if}}
        {{#if this.title }}
          <span class="card__title">
            <a class="card__link card__title-link" href="{{this.url.article}}">
              {{{this.title}}}
            </a>
          </span>
        {{/if}}
        <ul class="card-tags">
          {{#each this.tags}}
            <li class="card-tags__item">
              <a class="card-tags__link" href="#">{{{this.tag}}}</a>
            </li>
          {{/each}}
        </ul>
        {{#if this.events}}
          <div class="card-event">
            {{#each this.events}}
              <span class="card-event__location">
              <a class="card-event__link" href="{{this.location-url}}">
                <span class="card-event__icon">{{> ui/svg name="location"}}</span>
                <span class="card-event__text">{{this.event-location}}</span>
              </a>
            </span>
              <div class="card-event__date">
                <a class="card-event__link" href="{{this.date-url}}">
                  <span class="card-event__icon">{{> ui/svg name="time"}}</span>
                  <time class="card-event__text card__pubdate"
                        datetime="{{this.event-datetime}}">{{this.event-date}}</time>
                </a>
              </div>
            {{/each}}
          </div>
        {{else}}
          <div class="card-pubdate">
            <time class="card-pubdate__time" datetime="{{this.datetime}}">{{this.pubdate}}</time>
          </div>
        {{/if}}
        {{#ifCond this.card-class 'grid-reports'}}
          <div class="grid-reports__arrow">
            <a href="{{this.url.article}}" class="grid-reports__link">
              {{>ui/svg name="report-arrow"}}
            </a>
          </div>
        {{/ifCond}}
        {{#ifCond this.card-class 'grid-intro'}}
          <div class="grid-reports__arrow _mobile-visible">
            <a href="{{this.url.article}}" class="grid-reports__link">
              {{>ui/svg name="report-arrow"}}
            </a>
          </div>
        {{/ifCond}}
        {{#if this.arrows}}
          <div class="grid-item__arrow">
            <a href="{{this.url.article}}" class="grid-item__link">
              {{>ui/svg name="report-arrow"}}
            </a>
          </div>
        {{/if}}
      </div>
    </article>
  </li>
{{/each}}
